<div class="box">
  <article class="media">
    <div class="media-content">
      <div class="content">
        <p>
          <%= User.find(comment.user_id).name %><br>
          <%= comment.message %><br>
        </p>
      </div>
    </div>
  </article>
</div>