<div class="box">
  <article class="media">
    <div class="media-content">
      <div class="content">
        <p>
          	
          <%= comment.message %>
        </p>
      </div>
    </div>
  </article>
</div>