<%= form_tag do %>
  <div class="form-group">
    <div class="col-md-5">
      <div class="d-flex bd-highlight">
        <div class="p-2 w-100 bd-highlight">
           <%= text_field_tag :answer, nil, required: true, class: 'form-control ml-1 shadow-none textarea' %>
        </div>
        <div class="p-2 flex-shrink-1 bd-highlight">
          <%= submit_tag 'Solve', data: { disable_with: "Submitting..." }, class: 'btn btn-primary' %>
        </div>
      </div>    
    </div> 
  </div>
  <br><hr>
<% end %>