<div class="col-lg-8"><br>
  <% tasks.each do |task| %>
    <header class="mb-4">
      <h2 class="fw-bolder mb-1">
        <%= task_link task %> 
      </h2>

      <%= subject_link task %>

      <% unless task.tags.blank? %>
        <section><br>
          <p>
            <i class="fas fa-tags"></i>
            <%= tags task  %>
          </p>
        </section>
      <% end %>
    </header> 
  <% end %>
</div>