<%= search_form_for @q do |f| %>

  <div class="form-group">
    <div class="col-md-3">
      <%= f.label :title_cont, class: 'form-label' %>
      <%= f.search_field :title_cont, placeholder: "Search", class: 'form-control' %><br>
      <%= link_to "Show All", tasks_path, class: "btn btn-primary btn-sm" %>
    </div>
    
  </div>
  
  
  <hr>


<% end %>