<%= render 'tasks/search_form.html.erb' %>

<div class="col-lg-8"><br>
  <% @tasks.each do |task| %>
    <header class="mb-4">
      <h1 class="fw-bolder mb-1"><%= link_to task.title, task, {style: 'text-decoration:none;  color:inherit'} %></h1>
      <a class="badge bg-secondary text-decoration-none link-light" href="#!"><%= task.subject %></a>

    </header>
    <hr>
  <% end %>
</div>