<h1>
  <%= @task.title %>
</h1>

<h3>
  Condition: <%= @task.condition %><br>
</h3>

<p>
  Tags:
  <% @task.tags.each do |tag| %>
    <i><%= tag.name %></i>
  <% end %>
</p>

<% @task.images.each do |image| %>
   <%= image_tag image.variant(resize_to_limit: [500, 500]) %><br>
<% end %>
