<div 
  class="rating-score" 
  data-score = "<%= task.ratings.average(:score) %>">
</div>

<script>
  $('.rating-score').raty({
    readOnly: true,
    score: function() {
      return $(this).attr('data-score');
    },
    starHalf : '<%= asset_path('star-half.png') %>',
    starOff:  '<%= asset_path('star-off.png') %>',
    starOn : '<%= asset_path('star-on.png') %>'
  });
</script>