<div 
  class="rating-score" 
  data-score = "<%= get_average_score(@task.id) %>">
</div>

<script>
  $('.rating-score').raty({
    readOnly: true,
    score: function() {
      return $(this).attr('data-score');
    },
    starOff:  '<%= asset_path('star-off.png') %>',
    starOn : '<%= asset_path('star-on.png') %>'
  });
</script>