<div id="tag_cloud">
	<p>
	  <% tag_cloud @tags, %w(1.0 1.5 2.3 3.5) do |tag, tag_size| %>
	    <span style="--tag-size: <%= tag_size %>;">
	    	<%= link_to tag.name, tag_path(tag.name) %>
	    </span>
	  <% end %>
	</p>
</div>

<div class="col-lg-8">
	<h1 class="display-4">Last tasks</h1><hr>
</div>

<%= render 'tasks/display_tasks.html.erb', tasks: @last_tasks %><br>

<div class="col-lg-8">
	<h1 class="display-4">Most rated tasks</h1><hr>
</div>

<%= render 'tasks/display_tasks.html.erb', tasks: @most_rated_tasks %><br>