@import 'toastr';

@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

body {
  font-family: 'Josefin Sans', sans-serif;
 }

.user_name{
    font-size:14px;
    font-weight: bold;
}

.table {
    text-align: left !important;
}

#tag_cloud {
    max-width: 500px;
    margin: auto;
    text-align: center;
    padding: 100px;


    span {
        font-size: calc(1rem * var(--tag-size));
        text-decoration: none;
        text-color: inherit;
    }
}
