@import 'toastr';

@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

body {
  font-family: 'Josefin Sans', sans-serif;
 }

.user_name{
    font-size:14px;
    font-weight: bold;
}

.table {
    text-align: left !important;
}
